<mat-accordion>
        <mat-expansion-panel [disabled]="clickButton" (click)="clickButton=false"  *ngFor = "let user of users$ ">
            <mat-expansion-panel-header >
                <mat-panel-title>
                   ID:{{user.id}}-Name: {{user.name}}
                </mat-panel-title>
                <mat-panel-description >
                  <button mat-raised-button color="primary" (click)="addaccount(user.id,user.email)">Create Account</button> 
                </mat-panel-description>
            </mat-expansion-panel-header> 
            Mail: {{user.email}}<br>
            Phone Number: {{user.phone}} <br>
            Website: {{user.website}}

        </mat-expansion-panel>
    </mat-accordion>
    