<div *ngIf = "!(docs$ | async)">Loading...</div>
<div >
  <button mat-raised-button color="primary" routerLink="/classify">Add Todo</button>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let docs of docs$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{docs.classify}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
           {{docs.doc}} 
       
        
    </mat-expansion-panel>
</mat-accordion>
