<mat-card>
    <h1>Please write your Todo</h1>
    <form #classifyForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field style="width: 400px;">
            <textarea 
                matInput placeholder="Type your Todo here"
                [(ngModel)] = "text"
                name = "text"
                cdkTextareaAutosize
                cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="10"  
                required #spy   
                #temp = "ngModel"                      
            >
            </textarea>   
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                Todo is required
            </mat-error>         
         </mat-form-field>  
                        
        <div >
            <button mat-raised-button color="primary" [disabled]="!classifyForm.form.valid">Add Todo</button>
        </div>
      </div>
    </form>
    </mat-card>


    
 
 